*.pyc
__pycache__/

# demo outputs
*.gif

# macOS
*.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

\#*\#
\.\#*
.coverage
*~
*_flymake.py
TAGS
build/
build-deb
build-rpm
dist/
*.so
*.noseids
*.egg-info/
local_settings.py
*.swp
.tox/
venv/
.venv*/
*.whl
.vscode/
**/.ipynb_checkpoints/
.virtual_documents/
.pytest_cache/
.claude/
.env
